h1 {
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid grey;
    width: 25%;
    padding-bottom: 4px;
}

img {
    height: 40em;
    width: 28em;
    margin: 0.5em;
    transition: border-radius 0.5s ease-in, transform 0.3s ease-in;
    border-radius: 20%;
}

img:hover {
    transform: translateY(-10px);
    border-radius: 50%;
}